<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Créer un rôle</title>
    <link rel="stylesheet" href="/css/styles.css" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <!-- Conteneur pour l'entête -->
    <header class="bg-primary text-white text-center py-3">
        <h1>Bienvenue dans l'espace d'administration</h1>
        <p>Utilisez le menu de navigation pour accéder aux différentes sections.</p>
    </header>   

    <!-- Conteneur pour la barre de navigation -->
    <div id="navbar-container"></div>
    <!-- Inclusion de la barre de navigation -->
    <!--#include virtual="partials/navbar.html" -->

    <div class="container">
        <h1 class="text-center p-3 m-2">Créer un Rôle</h1>
        <!-- Ajoutez une div pour afficher les messages d'erreur -->
        <div id="error-message" class="alert alert-danger d-none" role="alert"></div>
        <form id="create-role-form">
            <label for="role-libelle">Nom du Rôle:</label>
            <input type="text" id="role-libelle" name="libelle" required>
            <button type="submit" class="btn btn-primary">Créer</button>
            <a href="/roles/index.html" class="btn btn-secondary">Annuler</a>
        </form>
    </div>

    
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const form = document.getElementById('create-role-form');
            const errorMessageDiv = document.getElementById('error-message');

            form.addEventListener('submit', async function(event) {
                event.preventDefault();

                const roleLibelle = document.getElementById('role-libelle').value;

                // Réinitialiser le message d'erreur
                errorMessageDiv.classList.add('d-none');
                errorMessageDiv.textContent = '';

                // Vérification si le champ est vide
                if (!roleLibelle) {
                    errorMessageDiv.textContent = 'Veuillez entrer un nom de rôle.';
                    errorMessageDiv.classList.remove('d-none');
                    return;
                }

                try {
                    const response = await fetch('/api/ajouter-role', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ libelle: roleLibelle })
                    });
                    
                    if (response.status === 401) {
                        alert("Vous devez être connecté pour accéder à cette page.");
                        window.location.href = '/login/login.html';
                        return;
                    }

                    if (response.ok) {
                        window.location.href = '/roles/index.html'; // Redirige vers la liste des rôles après la création 
                    } else if (response.status === 400) {
                        const errorData = await response.json();
                        const erroMessage = errorData.errors[0].msg; // Récupère le message d'erreur 
                        console.log('Erreur lors de la création du rôle :', errorData.errors[0].msg); // log l'erreur dans la console
                        errorMessageDiv.textContent = 'Erreur lors de la création du rôle : ' + erroMessage; // Affiche un message d'erreur si le rôle existe déjà
                        errorMessageDiv.classList.remove('d-none');

                    } else if (response.status === 500) {
                        const errorData = await response.json();
                        console.log('Erreur interne du serveur :', errorData); // log l'erreur dans la console
                        errorMessageDiv.textContent = 'Erreur interne du serveur. Veuillez réessayer plus tard.';
                        errorMessageDiv.classList.remove('d-none');
                        
                    }
                } catch (err) {
                    console.error('Erreur:', err);
                    errorMessageDiv.textContent = 'Une erreur inattendue s\'est produite. Veuillez réessayer.';
                    errorMessageDiv.classList.remove('d-none');
                }
            });
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>