<div id="stats-container">
    <h2>Statistiques :</h2>
    <div id="total-users">Utilisateurs enregistrés: <span id="user-count">Chargement...</span></div>
    <div id="total-rides">Covoiturages organisés: <span id="ride-count">Chargement...</span></div>
    <div id="total-reviews">Avis laissés: <span id="review-count">Chargement...</span></div>
    <div id="admin-stats" style="display: none;">
        <div id="total-credit">Crédit total collecté: <span id="credit-amount">Chargement...</span></div>
    </div>
</div>

<div id="stats-chart" style="display: none;">
    <h2>Graphiques </h2>
    <canvas id="statsChart"></canvas>
</div>

