# flyctl launch added from .gitignore
.env
.env.local
.env.test.local
.env.prod.local
test.log
localhost.session.sql
*.log
fly.toml
secrets/
ecoride*.sql
hachage*.js
node_modules
npm-debug.log
Dockerfile
.dockerignore
.git
.gitignore
*.md
*.log
.vscode
*.sqlite
*.db
.github
scripts/
tests/
coverage/
