<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajouter un covoiturage</title>
    <link rel="stylesheet" href="/css/styles.css" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <!-- Conteneur pour l'entête -->
    <header class="bg-primary text-white text-center py-3">
        <h1>Bienvenue dans l'espace d'administration</h1>
        <p>Utilisez le menu de navigation pour accéder aux différentes sections.</p>
    </header>

    
      <div class="container">
        <h1 class="text-center p-3 m-2">Ajouter un covoiturage</h1>
          <form id="create-covoiturage-form"></form>
            <!-- Div pour afficher les messages d'erreur -->
            <div id="error-message" class="alert alert-danger d-none" role="alert"></div>
      
             <div class="mb-3">
                <label for="covoiturage-marque" class="form-label">Marque de la voiture:</label>
                <input type="text" class="form-control" id="covoiturage-marque" name="marque" required>
            </div>
            <div class="mb-3">
                <label for="covoiturage-prenom" class="form-label">Prénom:</label>
                <input type="text" class="form-control" id="covoiturage-prenom" name="prenom" required>
            </div>
            <div class="mb-3">
                <label for="covoiturage-pseudo" class="form-label">Pseudo:</label>
                <input type="text" class="form-control" id="covoiturage-pseudo" name="pseudo" required>
            </div>
            <div class="mb-3">
                <label for="covoiturage-email" class="form-label">Email:</label>
                <input type="email" class="form-control" id="covoiturage-email" name="email" required>
            </div>
             <div class="mb-3">
                <label for="covoiturage-password" class="form-label">Mot de passe:</label>
                <input type="password" class="form-control" id="covoiturage-password" name="password" required>
            </div>
            <div class="mb-3">
                <label for="covoiturage-role" class="form-label">Rôle:</label>
                <select class="form-select" id="covoiturage-role" name="role" required>
                    <!-- Les roles seront chargées ici dynamiquement -->
                </select>
            </div>
            <div class="mb-3">
                <label for="covoiturage-statut-compte" class="form-label">Statut du compte:</label>
                <select class="form-select" id="covoiturage-statut-compte" name="isValid" required>
                    <!-- Les statuts du compte seront chargés ici dynamiquement -->
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Ajouter</button>
            <a href="/covoiturages/index.html" class="btn btn-secondary">Annuler</a>
        </form>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const form = document.getElementById('create-utilisateur-form');
            const errorMessageDiv = document.getElementById('error-message');

             loadRolesAndStatuts();

            form.addEventListener('submit', async function(event) {
                event.preventDefault();

                const utilisateurNom = document.getElementById('utilisateur-nom').value;
                const utilisateurPrenom = document.getElementById('utilisateur-prenom').value;
                const utilisateurPseudo = document.getElementById('utilisateur-pseudo').value;
                const utilisateurEmail = document.getElementById('utilisateur-email').value;
                const utilisateurRole = document.getElementById('utilisateur-role').value;
                const utilisateurPassword = document.getElementById('utilisateur-password').value;
                const utilisateurStatutCompte = document.getElementById('utilisateur-statut-compte').value;

                // Réinitialiser le message d'erreur
                errorMessageDiv.classList.add('d-none');
                errorMessageDiv.textContent = '';

                // Vérification si les champs de saisie sont vides
                if (!utilisateurNom || utilisateurNom.trim() === '' ) {
                    errorMessageDiv.textContent = 'Veuillez entrer le nom de l\'utilisateur.';
                    errorMessageDiv.classList.remove('d-none');
                    return;
                }
                if (!utilisateurPrenom || utilisateurPrenom.trim() === '') {
                    errorMessageDiv.textContent = 'Veuillez entrer le prénom de l\'utilisateur.';
                    errorMessageDiv.classList.remove('d-none');
                    return;
                }
                if (!utilisateurPseudo || utilisateurPseudo.trim() === '') {
                    errorMessageDiv.textContent = 'Veuillez entrer le pseudo de l\'utilisateur.';
                    errorMessageDiv.classList.remove('d-none');
                    return;
                }
                if (!utilisateurPassword || utilisateurPassword.trim() === '') {
                    errorMessageDiv.textContent = 'Veuillez entrer le mot de passe utilisateur.';
                    errorMessageDiv.classList.remove('d-none');
                    return;
                }
                if (!utilisateurRole) {
                    errorMessageDiv.textContent = 'Veuillez sélectionner un rôle.';
                    errorMessageDiv.classList.remove('d-none');
                    return;
                }
                if (!utilisateurStatutCompte) {
                    errorMessageDiv.textContent = 'Veuillez sélectionner un statut.';
                    errorMessageDiv.classList.remove('d-none');
                    return;
                }

                // Récupération du token CSRF AVANT d'envoyer la requête PUT
                let csrfToken = '';
                try {
                    const csrfRes = await fetch('/api/csrf-token', { credentials: 'include' });
                    const csrfData = await csrfRes.json();
                    csrfToken = csrfData.csrfToken;
                } catch (err) {
                    console.log('Impossible de récupérer le token CSRF');
                    return;
                }
            
                try {
                    const response = await fetch('/api/ajouter-utilisateur', {
                        method: 'POST',
                        credentials: 'include',
                        headers: {
                            'Content-Type': 'application/json', 
                            charset: 'utf-8',
                            'x-csrf-token': csrfToken
                        },
                        body: JSON.stringify({
                            nom: utilisateurNom,
                            prenom: utilisateurPrenom,
                            pseudo: utilisateurPseudo,
                            email: utilisateurEmail,
                            password: utilisateurPassword,
                            id_role: Number(utilisateurRole) ,
                            isValid: utilisateurStatutCompte,
                        })
                    });

                    console.log('response:', response)

                    if (response.ok) {
                        window.location.href = '/utilisateurs/index.html'; // Redirige vers la liste des utilisateurs  
                    } else if (response.status === 400) {
                        const errorData = await response.json();
                        const erroMessage = errorData.errors[0].msg; // Récupère le message d'erreur

                        console.log('Erreur lors de la création de l\'utilisateur:', errorData.errors[0].msg); // log l'erreur dans la console

                        errorMessageDiv.textContent = 'Erreur lors de la création de l\'utilisateur: ' + erroMessage; // Affiche un message d'erreur si l'utilisateur existe déjà
                        errorMessageDiv.classList.remove('d-none');

                    } else if (response.status === 500) {
                        const errorData = await response.json();
                        console.log('Erreur interne du serveur :', errorData); // log l'erreur dans la console
                        errorMessageDiv.textContent = 'Erreur interne du serveur. Veuillez réessayer plus tard.';
                        errorMessageDiv.classList.remove('d-none');

                    }
                } catch (err) {
                    console.error('Erreur:', err);
                    errorMessageDiv.textContent = 'Une erreur inattendue s\'est produite. Veuillez réessayer.';
                    errorMessageDiv.classList.remove('d-none');
                }
            });

            async function loadRolesAndStatuts() {
                const utilisateurRoleSelect = document.getElementById('utilisateur-role');
                if (utilisateurRoleSelect) {
                    const responseRoles = await fetch('/api/roles');
                    const roles = await responseRoles.json();
                    roles.forEach(role => {
                        const option = document.createElement('option');
                        option.value = role.id_role;
                        option.textContent = role.libelle;
                        if (role.libelle === "VISITEUR") {
                            option.selected = true; // Sélectionner le rôle par défaut
                        }
                        utilisateurRoleSelect.appendChild(option);
                    });
                }  

                const statutSelect = document.getElementById('utilisateur-statut-compte');
                if (statutSelect) {
                    // Efface les options existantes
                    statutSelect.innerHTML = '';

                    // Ajoute de l'un des statuts possibles
                    const statuts = [
                        { value: 1, label: 'Actif' },
                        { value: 0, label: 'Inactif' }
                    ];

                    statuts.forEach(statut => {
                        const option = document.createElement('option');
                        option.value = statut.value;
                        option.textContent = statut.label;
                        if (statut.value === 0) {
                            option.selected = true; // Sélection du rôle par défaut
                        }
                        statutSelect.appendChild(option);
                    });
                }
                
            }
        });

    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
